!!! 5
%html(lang="en" )
  %head
    %meta(charset="UTF-8" )
    %title
      Test [07]
    %script(src="https://kit.fontawesome.com/83ef1fc2b2.js" )
    %link(rel="stylesheet" href="style.css" )
  %body
    #app
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/react/16.9.0/umd/react.production.min.js" )
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.6/umd/react-dom.production.min.js" )
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.7.0/marked.min.js" )
    %script(src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js" )
    %script(src="script.js" )